:root {
  --color-blue: #4d5ae5;
  --color-navy: #2e2f42;
  --color-hover: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-blue);
}
.link {
  text-decoration: none;
}
.logo-header {
  color: var(--color-navy);
}
/* /LOGO */
/* NAV LINKS */
.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list a:active {
  color: var(--color-hover);
}
/* /NAV LINKS */
/* CONTACT LINKS */
.contact-links a {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: inherit;
}
.contact-links:active {
  color: #404bbf;
}
/* /CONTACT LINKS */
/* HERO SECTION */
.hero {
  background-color: var(--color-navy);
}
.hero > .hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hero > .primary-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.hero > .primary-btn:hover {
  background-color: #404bbf;
}
.hero > .primary-btn:focus {
  background-color: #404bbf;
}
/* /HERO SECTION */
/* ADVANTAGES */
.advantages {
  color: var(--color-navy);
}
.advantages h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /ADVANTAGES */
/* FEATURES */
.features > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy);
}
/* /FEATURES */
/* TEAM SECTION */
.team {
  background-color: #f4f4fd;
}
.team-back {
  background-color: #ffffff;
}
.team > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy);
}
.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy);
}
.team p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /TEAM SECTION */
/* FOOTER */
.footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--color-navy);
}
.logo-footer {
  color: #f4f4fd;
}
/* /FOOTER */
/* --------------------------------PORTFOLIO------------------------------------- */
/* FILTER */
.filter button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.filter:hover {
  background-color: #404bbf;
  cursor: pointer;
}
/* /FILTER */
/* PRIVILEGE SECTION */
.privilege h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.privilege p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /PRIVILEGE SECTION */
